{#no need accounts/base.html#}
    {#because base.html is outside of the accounts folder and #}
    {#inside the templates folder#}
{% extends 'base.html' %}

        {% block head %}

            <title>Home</title>

        {% endblock %}

        {% block body %}

            <h1>Home</h1>

{###########  django widgets allow to write python code or html forms  ############}
    {#<form method="POST">#}
        {#<input type="text">#}
        {#<button class="btn btn-primary" type="submit">Submit</button>#}
    {#</form>#}

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>

            <h2>{{ text }}</h2>

        {% endblock %}
