{#no need accounts/base.html#}
    {#because base.html is outside of the accounts folder and #}
    {#inside the templates folder#}
{% extends 'base.html' %}

        {% block head %}

            <title>Home</title>

        {% endblock %}

        {% block body %}

            <h1>Home</h1>

{###########  django widgets allow to write python code or html forms  ############}
    {#<form method="POST">#}
        {#<input type="text">#}
        {#<button class="btn btn-primary" type="submit">Submit</button>#}
    {#</form>#}

            <form method="POST">
                {% csrf_token %}
{#                {{ form.as_p }} //renders along with the help text Post    #}
{#                renders the input field only          #}
                {{ form.post }}
                {{ form.errors }}
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>

{#            <h2>{{ text }}</h2>#}

            {% for post in posts %}
                <h1>{{ post.post }}</h1>
                <p>Posted by: {{ user.get_full_name }} on the date: {{ post.created }}</p>
            {% endfor %}

        {% endblock %}
