{% extends 'base.html' %}

    {% block head %}
        <title>Profile</title>
    {% endblock %}

    {% block body %}

        <h1>Profile</h1>
        <p>{{ user.username }}</p>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
        <p>{{ user.email }}</p>
        <p>Description: {{ user.userprofile.description }}</p>
        <p>Phone: {{ user.userprofile.phone }}</p>
        <p>City: {{ user.userprofile.city }}</p>
        <p>Website: {{ user.userprofile.website }}</p>


{#        by default the image gets uploaded in the folder called profile_image which we have specified in the model      #}
{#        have to define where is the image should be stored in the settings.py file to change the upload location     #}
{#        then reupload the image: gets the profile_image folder created in the location that we have specified     #}
{#        user.userprofile.image gives the reference provided in the database      #}
{#        the .url referes to where the image is actually stored      #}
        <p><img src="{{ user.userprofile.image.url }}" alt="" width="200"></p>

    {% endblock %}