{% extends 'base.html' %}

    {% block head %}
        <title>Password Reset Confirm</title>
    {% endblock %}

    {% block body %}

        <h1>Enter New Password</h1>
        <p>You can enter your new password here</p>
        <h2>Reset Password</h2>
        <form method="post"><!--Imports the form from the built in login form that we imported on the urls.py-->
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>

    {% endblock %}